  [Desktop Entry]
  Name=Island Slide Puzzle
  Comment=A floating slide puzzle from the Netherlands
  Exec=island-slide-puzzle
  Icon=${SNAP}/meta/gui/island-slide-puzzle.png # replace name to your app name
  Terminal=false
  Type=Application
  Categories=Games; #adjust accordingly your snap category
